<div class="container">
  <div class="logo-block">
    <h1>Hookah
      <span class="sub-header">
      Mixer
    </span>
    </h1>
  </div>
  <div class="links-container">
    <a><mat-icon>search</mat-icon> Search</a>
    <a><mat-icon>whatshot</mat-icon> Recommendations</a>
    <a><mat-icon>event</mat-icon> Events</a>
    <a><mat-icon>supervised_user_circle</mat-icon> Account</a>
  </div>
  <div class="share">
    <a><mat-icon svgIcon="twitter"></mat-icon></a>
    <a><mat-icon svgIcon="inst"></mat-icon></a>
  </div>
</div>
